.Blocking{
    width: 93%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 43px;
    background: #FFF;
    margin-top: 125px;
    padding: 52px;
}

.Content{
    display: flex;
    flex-wrap: wrap;
}

.Name{
    display: flex;
    align-items: center;
}

.BlockingHeader{
    color: #000;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 64px;
}

.Streets{
    padding: 21px 50px;
    background-color: red;
    margin-left: 22px;
    margin-top: 28px;
    border-radius: 28px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all .3s ease-in-out;
    cursor: pointer;
    animation: fadeIn .3s;
}

.NoData{
    margin-left: 22px;
    margin-top: 28px;
    color: black;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.Streets:hover{
    background-color: rgb(167, 0, 0);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
