.RoadsWrapper{
    display: flex;
    justify-content: space-between;
    margin-left: -100px;
    width: 100%;
    z-index: 2;
}

.Left{
    position: absolute;
    top: 350px;
    overflow: hidden;
    left: -600px;
}

.Right{
    top: -10px;
    position: absolute;
    right: -100px;
    overflow: hidden;
}

.MapHeader{
    position: absolute;
    color: #FFF;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 90%;
    display: flex;
    justify-content: left;
    text-align: left;
    z-index: 3;
    top: 180px;
    margin-left: 150px;
}

.ToolsContainer{
    display: flex;
    width: 80%;
    background-color: white;
    top:380px;
    position: absolute;
    z-index: 3;
    padding: 51px 64px;
    border-radius: 58px;
    align-items: center;
    justify-content: space-between;
}