.ValuesWrapper{
    display: flex;
    justify-content: left;
    margin: 0;
    text-align: left;
    flex-direction: column;
}

.WritingSpeed{
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.MiddleSpeed{
    color: #E58C47;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}