.MiddleSpeedWrapper{
    display: flex;
    width: 100%;
    max-height: 153px;
    border-radius: 43px;
    background: #FFF;
    padding: 30px;
    text-align: left;
    justify-content: left;
    align-items: center; 
}

.ValuesWrapper{
    margin: 30px 0;
    text-align: left;
}

.WritingSpeed{
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18;
    max-width: 235px;
}

.MiddleSpeed{
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.brown {
    color: #8B1313 !important; /* Бурый */
}

.red {
    color: #CC0000 !important; /* Красный */
}

.orange {
    color: #FF6600 !important; /* Оранжевый */
}

.lightOrange {
    color: #FF9900 !important; /* Светло-оранжевый */
}

.yellowGreen {
    color: #66FF00 !important; /* Желто-зеленый */
}

.green {
    color: #00FF00 !important; /* Зеленый */
}